aniso8601==8.0.0
asn1crypto==0.24.0
attrs==18.2.0
chardet==3.0.4
cliapp==1.20180812.1
click==7.1.2
cmdtest==0.32+git
configparser==3.5.0b2
cryptography==2.6.1
dbus-python==1.2.12
entrypoints==0.3
enum34==1.1.6
Flask==1.1.2
Flask-Cors==3.0.9
Flask-RESTful==0.3.8
gunicorn==19.10.0
gyp==0.1
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==18.0.1
keyrings.alt==3.1.1
Markdown==3.1.1
MarkupSafe==1.1.1
numpy==1.16.6
packaging==19.1
pathlib==1.0.1
pycrypto==2.6.1
pycurl==7.43.0.2
Pygments==2.3.1
PyGObject==3.34.0
pyliblzma==0.5.3
pyparsing==2.2.0
pysqlite==1.0.1
python-apt==1.9.0+ubuntu1.4
pytz==2020.1
pyxdg==0.26
PyYAML==5.1.2
rpm==4.14.2.1
SecretStorage==2.3.1
simplejson==3.17.2
six==1.12.0
ttystatus==0.38
urlgrabber==3.10.2
Werkzeug==1.0.1
yum-metadata-parser==1.1.4
