.App {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vh;
  font-size: calc(5px + 2vmin);
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 3px hsla(0,0%,4%,.1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

#cy {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;

  height: 80%;
  position: absolute;

  top: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content {
  display: flex;
  flex-direction: column;  
}

.input-header{
  margin-left: 8%;
  margin-top: 2%;
  width: 30%;
  background-color: #61dafb;
}

.textDisp{
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textDispv2{
  display: flex;
  justify-content: center;
  align-items: center;
}

#textTuning{
  width:80%;
  height: 80%;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollable{
  overflow-y: auto;
  max-height: 300px;
}